.footer {
  padding: 20px 0;
  background-color: #fff;
  border-top: 1px solid #e5e7eb;
  position: relative;
  
  .footer-copyright {
    p {
      font-size: 13px;
      color: #9ca3af;
    }
  }
}
